*{
    margin: 0px;padding: 0px;
}
#container{
    height: 600px;width: 350px;
    margin: 10px;
    border: 3px solid black;
    background-color: antiquewhite;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    /* flex-wrap: wrap; */
    align-items:start;
}
.box{
    height: 75px;
    width: 75px;
    border: 3px solid black;
    margin: 10px;
    
}
#box1{
background-color: aqua;
align-self: flex-end;
flex-grow: 3;
order: 3;
}
#box2{
background-color: red;
flex-shrink: 2;
align-self: end;
order: 1;
}
#box3{
background-color: green;
align-self: end;
flex-shrink: 4;
order:2 ;

}
#box4{
background-color: blue;
flex-grow: 3;
align-self: end;
order: 4;

}
h1{
    text-align: center;
}