*{
    margin: 0px; padding: 0px;
}
#container{
    height: 500px; width: 500px;
    background-color: orchid;
    border: 3px solid black;
    margin: 10px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
}
.box{
    height: 200px; width: 200px;
    background-color: aquamarine;
        border: 3px solid black;
        margin: 20px;
}
#box1{
grid-row: 2/2;
grid-column: 2/2;

background-color: red;
}
#box2{
    background-color: blue;
    grid-row: 1/2;
    grid-column: 2/2;
}
#box3{
    
}
#box4{
    background-color: yellow;
    grid-row: 1/2;
}