*{
    margin: 0;padding: 0;
}
nav{
    padding: 10px;
}
nav a{
    
    text-decoration: none;
    margin-left:100px;
}
header{
    background-color: aquamarine;
    height: 50px;
    
}
#one{
    height: 50px; width: 50px;
    background-color: green;
    border-radius: 50%;
}
.box{
    height: 100px;width: 100px;
    display: inline-block;
    background-color: pink;
}
#block1{
    
    position: fixed;
}
#block2{
     position: absolute;
    top: 100px;
    left: 200px;
    background-color: blue;
}
#block3{
    background-color: red;
 margin: 50px ;
 z-index: 2;
}
#container{
    border: 3px dashed chartreuse;
    margin: 5px;
}
footer{
    bottom: 0px;
    position: fixed;
    background-color: yellow;
}